.Prices {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 13px;
  min-height: 10px;
  outline: 0;
  padding: 10px 14px;
  margin: 3px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#add:hover,
#add:active {
  background-color: rgb(148, 195, 209);
  background-position: 0 0;
}

#remove:hover,
#remove:active {
  background-color: lightcoral;
  background-position: 0 0;
}

.Prices:active {
  opacity: .5;
}

#add {
    color: white;
    background: rgb(69, 69, 167);
    border: 1px solid rgb(69, 69, 167);
}

#remove {
    color: white;
    background: #c53030;
    border: 1px solid #c53030;
}

.Person p{
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin: 7px;
}